$header_menu_background : var(--header_menu_background); //顶部和侧边栏背景颜色
$el_submenu_title_background:var(--el_submenu_title_background);//一级侧边栏鼠标移入颜色
$el_menu_item_hover:var(--el_menu_item_hover);//二级菜单鼠标移入和点击颜色
$el_menu_item:var(--el_menu_item);//二级菜单背景颜色
$button_background:var(--button_background);//按钮背景颜色
$border_color:var(--border_color);//边框颜色
$text_color:var(--text_color);//文本颜色
$el-color-primary:var(--el-color-primary); //颜色
$color_primary:var(--color_primary);